<p style="color: green"><%= notice %></p>
<div class="position-relative d-flex p-0" id="top">
        <!-- Spinner Start -->
        <div id="spinner"
            class="show bg-light position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only"></span>
            </div>
        </div>
        <!-- Spinner End -->
        <%= render partial: "shared/sidebar"%>

        <!-- Content Start -->
        <div class="content pb-3">
            
         <%= render partial: "shared/navbar" %>

            <!-- Start Content -->
          <!-- Start Content -->
            <div class="container-fluid py-2 px-3 mt-3">
                <div class="card-panel bg-white p-4 radius-10">

                    <div class="d-flex flex-wrap justify-content-between align-items-center page-header">
                        <h1 class="h2 mb-2">User Management(Frontend)</h1> 
                    </div>
                    

                    <div class="card" >
                      <div class="card-body">
                        <table class="table  table-striped table-bordered table-hover">
                          <div class="row m-3">
                            <form class="m-4 mb-0">
                              <div class="form-row">
                              <div class="col m-4">
                              <input class="form-control mr-sm-2" id="search1" placeholder="Type to search...">
                              </div>
                            
                              </div>
                            </form>

                          
                        </div>
                        <br/>
                        <thead class="thead-light">
                            <th>Name &nbsp;<i class="fa-sharp fa-solid fa-sort"></i></th>
                            <th>Email &nbsp;<i class="fa-sharp fa-solid fa-sort"></i></th>
                            <th>Status &nbsp;<i class="fa-sharp fa-solid fa-sort"></i></th>
                            <th colspan ="4" style="text-align: center;">actions </th>

                        </thead>
                        <tbody id = "datalist1">
                            <% @people.each do |person| %>
                              <tr>
                                  <td><%= person.first_name + " "+ person.last_name%></td>
                                  <td><%= person.email%></td>
                                  <td><%= person.status == true ? 'Active' : 'Inactive'%></td>
                                   <td><% if person.status %>
                                        <%= link_to "",  update_status_person_path(person),data:{'turbo-method': :patch}, class: "fa fa-lock-open text-decoration-none", style:"color: green;" %>
                                      <% else %>
                                        <%= link_to "", update_status_person_path(person),data:{'turbo-method': :patch}, class: "fa fa-lock text-decoration-none", style:"color: red;" %>
                                      <% end %>
                                    </td>
                                  <td style="text-align: center;"><%= link_to "", person,class:"fa-regular fa-eye text-decoration-none" %></td>
                                  <td style="text-align: center;"><%= link_to "",edit_person_path(person),class:"fa-solid fa-pencil text-decoration-none" %></td>
                                  <td style="text-align: center;"><%= link_to "",person,data:{turbo_method: :delete,
                                      turbo_confirm: 'Are you sure?'}, class: "fa-sharp fa-solid fa-trash"%></td>
                              </tr>
                            <% end %>     
                        </tbody>
                        </table>
                        <br>

                        <%= link_to "", new_person_path ,class:"fa-solid fa-user-plus"%>
                        <br/>
                        <br/>
    
                      </div>
                      <%= render partial: 'pagination', locals: { pagination: @pagination } %>
                    
                      </div>
                    
                      </div>

                </div>

              </div> 
        <!-- End Content  -->

    </div>
  

  <script>
  $(document).ready(function() {
    $('th:eq(0)').click(function() {
      var rows = $('#datalist1').find('tr').get();
      rows.sort(function(a, b) {
        var nameA = $(a).find('td:eq(0)').text().toUpperCase();
        var nameB = $(b).find('td:eq(0)').text().toUpperCase();
        return nameA.localeCompare(nameB);
      });
      $.each(rows, function(index, row) {
        $('#datalist1').append(row);
      });
    });
  });


  $(document).ready(function() {
    $('th:eq(1)').click(function() {
      var rows = $('#datalist1').find('tr').get();
      rows.sort(function(a, b) {
        var nameA = $(a).find('td:eq(1)').text().toUpperCase();
        var nameB = $(b).find('td:eq(1)').text().toUpperCase();
        return nameA.localeCompare(nameB);
      });
      $.each(rows, function(index, row) {
        $('#datalist1').append(row);
      });
    });
  });


  $(document).ready(function(){
  $("#search1").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#datalist1 tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
 
</script>
